@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	@if ( Player.ThirdPerson is false )
	{
		<div class="crosshair"></div>
	}

	<div class="input-hints-container">
		@if ( ShowReturnHint )
		{
			<InputHint Action="Return" Label="Return"></InputHint>
		}

		<InputHint Action="View" Label="Change perspective"></InputHint>

		@if ( IsHoldingObject )
		{
			<InputHint Action="attack2" Label="Freeze object"></InputHint>
		}

		@if ( IsLookingAtObject || IsHoldingObject )
		{
			<InputHint Action="attack1" Label="Grab object (Hold)"></InputHint>
		}
	</div>
	
	<div class="chat-container">
		<TextEntry Placeholder="Enter something here..."></TextEntry>
	</div>
</root>

@code
{
	[Property]
    private Pickup PickupComponent { get; set; }
	
	[Property]
	private bool ShowReturnHint { get; set; }
	
	[Property]
	private PlayerController Player { get; set; }

	private bool IsLookingAtObject => PickupComponent.LookedObject is not null;
	private bool IsHoldingObject => PickupComponent.HeldObject is not null;
	
	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(
		Input.UsingController,
		PickupComponent.LookedObject,
		PickupComponent.HeldObject,
		ShowReturnHint,
		Player.ThirdPerson
	);
}
